body{
    background-color:aqua;
}
h1{
  color: aliceblue;
}
a{
    color: blueviolet;
    text-decoration: none;
}
a:hover{
    color: red;
}
ul>li{/*child selector*/
     font-weight: bold;
}
ul li:hover{
    color: red;
}
ul li::before{
    content:"👌👍🙌😂"
}
a:after{
    content: "👌👍😂";
}
p::first-letter{
    font-size: 200%;
}
p:not(:first-of-type){
    text-decoration: underline;
}